# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*


# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.HA_VERSION
!.gitignore
!*.md
!lovelace/
!lovelace/views/
!lovelace/views/popup/
!lovelace_tablet/
!lovelace_tablet/views/
!lovelace_tablet/views/popup/
!packages/
!images/*.jpg
!automations/
!includes/

# Ignore folders.
.storage
.cloud
.google.token
custom_components/
deps/
downloads/
themes/
tts/
tts_secret/
image/
www/community/

# Discovered devices
harmony_*.conf
known_devices.yaml
google_calendars.yaml
dashboard_test.yaml

# Ignore Log & DB
home-assistant.log
home-assistant_v2.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
google_calendars.yaml

#Ignore other
.HA_VERSION
.pip_progress